<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32"/>-->
<!--    <uses-feature android:name="android.hardware.camera" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name=".activity.AddQuestion"-->
<!--            android:exported="true" />-->

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

<!--        <provider-->
<!--            android:authorities="com.example.quizapp"-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:grantUriPermissions="true"-->
<!--            android:exported="false">-->

<!--            <meta-data android:name="android.support.File_Provider_Path">-->
<!--            </meta-data>-->
<!--        </provider>-->
    </application>

</manifest>